body {
	font-family: math;
}

.seed span {
	font-family: monospace;
}

table {
	padding: 0px;
	border-collapse: collapse;
	font-size: 13px;
}

table td, th {
	border: 1px solid #555;
	width: 64px;
	height: 60px;
	text-align: center;
}

table th {
	background-color: #DDD;
}

table tr:first-child td:first-child {
	border: 0px;
}

@media print {
    .pagebreak { page-break-before: always; }
}

#controls {
	position: fixed;
	top: 0;
	right: 0;
	width: 260px;
	border: 1px solid #333;
	background-color: #FFA;
	padding: 8px;
	margin: 8px;
	font-family: monospace;
	overflow-y: scroll;
	max-height: calc(100vh - 40px);
}


@media print {
	.noprint {
		display: none !important;
	}
}

div.header {
	display: flex;
	width: 480px;
	font-family: sans-serif;
}

div.header h1, 
div.header h2, 
div.header h3,
div.header p {
	text-align: center;
	margin: 1px;
}

div.header h2 {
	text-transform: uppercase;
}

div.header h1 {
	font-size: 20px;
}

div.header h2 {
	font-size: 14px;
}

div.header p {
	font-size: 11px;
}

div.title {
	flex: 1;
}

img.ship {
	display: inline;
	width: 100px;
}

p.player-instructions {
	font-family: sans-serif;
	font-size: 12px;
}

div.grid-divider {
	width: 400px;
	margin-top: 14px;
	margin-bottom: 14px;
}

div.grid-divider hr {
	border-width: 1px;
	border-style: dashed;
	border-color: #555;
}